


    <div class="container">
        <div class="cloud">
            <script>
                function rain(){
                    let cloud = document.querySelector('.cloud');
                    let e = document.createElement('div');
                    e.classList.add('text');
                    cloud.appendChild(e);
                    e.innerText='z'

                    setTimeout(function(){
                    cloud.removeChild(e)
                    },2000)
                }

                setInterval(function(){
                    rain()
                },20);
            </script>
        </div>

    </div>
